<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Graduaat Iconizr</title>
    <meta name="author" content="S Derdeyn">
    <link rel="icon" href="favicon.ico">

    <environment include="Development">
        <link rel="stylesheet" href="~/bundles/iconizr.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/bundles/iconizr.css" asp-append-version="true" />
    </environment>
</head>
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Graduaat <span class="text-primary">Iconizr</span></h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link @(ViewBag.NavItem == "Home" ? "active" : "")" asp-action="Index" asp-controller="Home">Home</a>
                    <a class="nav-link @(ViewBag.NavItem == "About" ? "active" : "")" asp-action="About" asp-controller="Home">About</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            @RenderBody()
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>&copy; @DateTime.Now.Year - Graduaat Iconizr</p>
            </div>
        </footer>
    </div>
    <a class="github-logo" href="https://github.com/sigged/graduaat-iconizr" title="Yep, it's open source."><img src="~/assets/GitHub-Mark-Light-32px.png" width="32" height="32" alt="View on Github.com" /></a>

    <environment include="Development">
        <script src="~/bundles/iconizr.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/bundles/iconizr.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
